.EventBrowser {
  &.list {
    @include responsive-container();
    padding-top: 60px;

    @include tablet {
      padding-top: 40px;
    }
  }
  
  &.map {
    .viewToggle {
      @include responsive-container();
//      width: 100%;
//      z-index: 1000;
//
      > .Tabs {
        margin-top: 60px;

        @include tablet {
          margin-top: 40px;
        }
      }
    }
  }

  .viewToggle {
    position: relative;
    top: -45px;

    @include tablet {
      top: 0;
    }
    
    > .Tabs {
      position: absolute;
      left: 50%;
      z-index: 1000;
      transform: translateX(-50%);

      @include tablet {
        left: initial;
        right: 0;
        transform: translateX(0);
      }
    }
  }

  > div > .SearchBar {
    @include tablet {
      display: none;
    }
  }

  > div > .events {
    position: relative;

    button.recurrences {
      position: absolute;
      right: 0;
      top: -88px;
    }

    padding-bottom: 45px;

    @include tablet {
      @include span(8 last);
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  > div > .filters {
    @include tablet {
      @include span(4 first);
    }
  }

  .filtersLink {
    margin: 12px 0;

    @include tablet {
      display: none;
    }
  }
}
