@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600,600i");

body {
  background: white;
  color: $text-color;
  font-family: "Source Sans Pro", Verdana, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;

  @include tablet {
    font-size: 16px;
    line-height: 23px;
  }
}

a, a:link, a:visited {
  color: $primary-color;
  text-decoration: none;
}

h2 {
  margin: 0 0 1.5em;
  font-weight: $normal-weight;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  
  @include tablet {
    font-size: 30px;
    line-height: 38px;
  }
}
