// You can override caligram-react variables here. For a full list:
// https://gitlab.com/territoires/caligram-react/blob/master/src/scss/_variables.scss

$primary-color: #146BFF;
$normal-weight: 300;
$bold-weight: 600;
$body-font: 'Source Sans Pro';
$heading-font: $body-font;
